{
    "require": {
    {{#packages}}
        "{{name}}": "^{{latest}}"{{^last}},{{/last}}
    {{/packages}}
    },
    "repositories": {
        "{{host}}": {
            "type": "composer",
            "url": "{{schemeAndHttpHost}}"
        }
    }
}