{
    "require": {
    {{#packages}}
        "{{name}}": "^{{latest}}"
    {{/packages}}
    },
    "repositories": {
        "{{host}}": {
            "type": "composer",
            "url": "{{schemeAndHttpHost}}"
        }
    }
}