<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Release Belt — {{host}}</title>
</head>
<body>
<div class="container">
    <h1 class="pt-3">Release Belt <small class="text-muted">{{host}}</small></h1>
    <hr/>

    <div class="row">

        <div class="col-md-6">

            <h2 class="mb-3">Boilerplate</h2>

            <p>
                <code class="bg-light rounded p-1">composer.json</code>
                <a href="https://getcomposer.org/doc/05-repositories.md" class="float-right" aria-label="Composer repository documentation" title="Composer repository documentation">
                    ❓
                </a>
            </p>
            <pre class="bg-light rounded p-3"><code>{{composer}}</code></pre>

            {{#auth}}
            <hr />

            <p>
                <code class="bg-light rounded p-1">auth.json</code>
                <a href="https://getcomposer.org/doc/articles/http-basic-authentication.md" class="float-right" aria-label="Composer HTTP authentication documentation" title="Composer HTTP authentication documentation">
                    ❓
                </a>
            </p>
            <pre class="bg-light rounded p-3">{{auth}}</pre>
            {{/auth}}
        </div>

        <div class="col-md-6">

            <h2 class="mb-3">Packages</h2>

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Package</th>
                    <th scope="col">Version</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                <tbody>
                {{#packages}}
                    <tr>
                        <th scope="row" class="font-weight-normal">{{name}}</th>
                        <td>
                            <ul class="list-unstyled">
                                {{#versions}}<li><a href="{{dist.url}}">{{version}}</a></li>{{/versions}}
                            </ul>
                        </td>
                        <td>{{type}}</td>
                    </tr>
                {{/packages}}
                </tbody>
            </table>
        </div>
    </div>

    <hr/>
    <p class="text-center">
        Created with <a href="https://github.com/Rarst/release-belt">Release Belt</a> — Composer repo for ZIPs.
    </p>
</div>
</body>
</html>